<h2>{{nsc.name}}</h2>

<h3>Eigenschaften</h3>
<table>
    <tr>
        <th>MU</th>
        <th>KL</th>
        <th>IN</th>
        <th>CH</th>
        <th>FF</th>
        <th>GE</th>
        <th>KO</th>
        <th>KK</th>
    </tr>
    <tr>
        <td>{{nsc?.mu}}</td>
        <td>{{nsc?.kl}}</td>
        <td>{{nsc?.in}}</td>
        <td>{{nsc?.ch}}</td>
        <td>{{nsc?.ff}}</td>
        <td>{{nsc?.ge}}</td>
        <td>{{nsc?.ko}}</td>
        <td>{{nsc?.kk}}</td>
    </tr>
</table>

<h3>Charakterwerte</h3>
<table>
    <tr>
        <th>LeP</th>
        <th>AsP</th>
        <th>KaP</th>
        <th>INI</th>
        <th>RS</th>
        <th>BE</th>
        <th>SK</th>
        <th>ZK</th>
        <th>GS</th>
        <th>AW</th>
    </tr>
    <tr>
        <td>{{nsc?.lep}}</td>
        <td>{{nsc?.asp}}</td>
        <td>{{nsc?.kap}}</td>
        <td>{{nsc?.ini}}</td>
        <td>{{nsc?.rs}}</td>
        <td>{{nsc?.be}}</td>
        <td>{{nsc?.sk}}</td>
        <td>{{nsc?.zk}}</td>
        <td>{{nsc?.gs}}</td>
        <td>{{nsc?.aw}}</td>
    </tr>
</table>


<div *ngIf="nsc.nahkampfwaffen?.length !== 0">
    <h3>Nahkampfwaffen</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>AT</th>
            <th>PA</th>
            <th>TP</th>
            <th>RW</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let waffe of nsc.nahkampfwaffen; index as i">
            <td>{{waffe.name}}</td>
            <td>{{waffe.at}}</td>
            <td>{{waffe.pa}}</td>
            <td>{{waffe.tp}}</td>
            <td>{{waffe.rw}}</td>
            <td><button (click)="attack(waffe.at, waffe.tp)">AT</button></td>
            <td><button (click)="parry(waffe.pa)">PA</button></td>
        </tr>
    </table>
</div>

<div *ngIf="nsc.fernkampfwaffen?.length !== 0">
    <h3>Fernkampfwaffen</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>FK</th>
            <th>LZ</th>
            <th>TP</th>
            <th>RW</th>
            <th></th>
        </tr>
        <tr *ngFor="let waffe of nsc.fernkampfwaffen">
            <td>{{waffe.name}}</td>
            <td>{{waffe.fk}}</td>
            <td>{{waffe.lz}}</td>
            <td>{{waffe.tp}}</td>
            <td>{{waffe.rw}}</td>
            <td><button (click)="attack(waffe.fk, waffe.tp)">AT</button></td>
        </tr>
    </table>
</div>

<table>
    <tr>
        <th>Aktionen</th>
        <td>{{nsc.aktionen}}</td>
    </tr>
    <tr>
        <th>Größe</th>
        <td>{{nsc.groesse}}</td>
    </tr>
</table>
